@import "../shared";
/*--------------------------------------------------
Case Iconbox Styles
--------------------------------------------------*/

.pxl-icon-box1 {
    --size-box-icon: 73px;
    --size-icon: 32px;
    @include border-radius(15px);
    padding: 35px 35px 44px 35px;
    position: relative;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.13);
    @include transition(all 0.3s linear 0ms);
    @media #{$max-xs} {
        text-align: center;
        .pxl-item {
            &--title {
                max-width: 100%;
            }
            &--description {
                max-width: 100%;
            }
        }
    }
    &:hover {
        box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.13);
        .pxl-item {
            &--icon {
                background-color: #111;
                box-shadow: -2px 4px 7.3px 0 rgba(255, 255, 255, 0.61) inset;
                svg {
                    path {
                        fill: #fff;
                    }
                }
                i {
                    color: #fff;
                }
            }
        }
    }
    .pxl-item {
        &--icon {
            width: var(--size-box-icon);
            height: var(--size-box-icon);
            @extend .pxl-iflex-center;
            @include border-radius(var(--size-box-icon));
            background-color: #fff;
            box-shadow: 0 4px 12.3px 0 rgba(0, 0, 0, 0.13);
            @include transition(all 0.3s linear 0ms);
            overflow: hidden;
            svg {
                width: var(--size-icon);
                height: var(--size-icon);
                path {
                    fill: #000;
                    @include transition(all 0.3s linear 0ms);
                }
            }
            i {
                color: #000;
                @include transition(all 0.3s linear 0ms);
            }
        }
        &--title {
            color: #111;
            font-size: 21px;
            font-weight: 500;
            line-height: 1.42;
            margin-bottom: 16px;
        }
        &--description {
            color: #565656;
        }
    }
}

.pxl-icon-box2 {
    --size-box-icon: 50px;
    --size-icon: 22px;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    .pxl-item {
        &--icon {
            width: var(--size-box-icon);
            height: var(--size-box-icon);
            @extend .pxl-iflex-center;
            @include border-radius(var(--size-box-icon));
            overflow: hidden;
            border: 1px solid #e4e4e4;
            svg {
                width: var(--size-icon);
                height: var(--size-icon);
            }
        }
    }
}
