@import "../shared";

.elementor-widget-pxl_physics {
    .pxl-physics-item {
        position: relative;
        overflow: hidden;
    }

    .pxl-throwable-element {
        @extend .pxl-iflex-center;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        min-height: 49px;
        padding: 12px 25px;
        gap: 10px;
        border-radius: 38px;
        margin-bottom: 0;

        &.pxl-throwable-bg--primary {
            background-color: $primary_color;
        }

        &.pxl-throwable-bg--secondary {
            background-color: $secondary_color;
        }

        .pxl-icon {
            width: 22px;
            height: 22px;
            flex-shrink: 0;
        }

        svg {
            width: 22px;
            height: 22px;

            path {
                fill: #fff;
            }
        }
    }

    .pxl-throwable-label {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
        white-space: nowrap;
    }
}
