@import "../shared";
/*--------------------------------------------------
Case Iconbox Styles
--------------------------------------------------*/

.pxl-icon-box1 {
    --width-box-icon: 53px;
    --width-icon: 26px;
    background-color: $primary_color;
    @include border-radius(8px);
    padding: 84px 45px 33px 30px;
    position: relative;
    border: 1px solid transparent;
    @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
    &:hover {
        .pxl-item {
            &--icon {
                background-color: #fff;
                svg {
                    path {
                        fill: $primary_color;
                    }
                }
                i {
                    color: $primary_color;
                }
                svg,
                i {
                    animation: pxl_right_from_left 0.4s cubic-bezier(0.645, 0.045, 0.355, 1)
                        forwards;
                }
            }
        }
    }
    .pxl-item {
        &--icon {
            position: absolute;
            top: 10px;
            right: 10px;
            width: var(--width-box-icon);
            height: var(--width-box-icon);
            @extend .pxl-iflex-center;
            @include border-radius(8px);
            background-color: rgba(#fff, 0.15);
            @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
            overflow: hidden;
            svg {
                width: var(--width-icon);
                height: var(--width-icon);
                path {
                    fill: #fff;
                    @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
                }
            }
            i {
                color: #fff;
                @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
            }
        }
        &--title {
            color: #fff;
            font-size: 21px;
            font-weight: 500;
            line-height: 1.42;
            margin-bottom: 16px;
        }
        &--description {
            color: rgba(#fff, 0.8);
        }
    }
}

.pxl-icon-box2 {
    --width-box-icon: 60px;
    --width-icon: 26px;
    --width-link: 19px;
    padding: 35px;
    @include border-radius(10px);
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.05);
        @include border-radius(10px);
        border: 1px solid $primary_color_hex;
        opacity: 0;
        @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
    }
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include border-radius(10px);
        border: 1px solid rgba($primary_color_hex, 0.13);
    }
    &:hover {
        &:before {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
        .pxl-item {
            &--icon {
                i,
                svg,
                img {
                    animation: pxl_bounce 0.5s linear forwards;
                }
            }
        }
    }
    .pxl-item {
        &--header {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: end;
            margin-bottom: 8px;
        }
        &--icon {
            @extend .pxl-iflex-center;
            width: var(--width-box-icon);
            height: var(--width-box-icon);
            @include border-radius(var(--width-box-icon));
            background-color: $primary_color;
            @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
            overflow: hidden;
            svg {
                width: var(--width-icon);
                height: var(--width-icon);
                path {
                    fill: #fff;
                }
            }
            i {
                color: #fff;
                @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
            }
        }
        &--link {
            width: var(--width-box-icon);
            height: var(--width-box-icon);
            @include border-radius(var(--width-box-icon));
            @extend .pxl-iflex-center;
            background-color: rgba($secondary_color_hex, 0.1);
            border: 1px solid rgba($primary_color_hex, 0.13);
            @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
            overflow: hidden;
            position: relative;
            z-index: 5;
            svg {
                width: var(--width-link);
                height: var(--width-link);
                path {
                    fill: $secondary_color;
                }
                &:last-child {
                    position: absolute;
                    transform: translate(-150%, 150%);
                }
            }
            &:hover {
                svg {
                    &:first-child {
                        transition: transform 0.3s ease-in-out;
                        transform: translate(150%, -150%);
                    }
                    &:last-child {
                        transition: transform 0.3s ease-in-out;
                        transform: translate(0, 0);
                    }
                }
            }
        }
        &--title {
            color: $primary_color;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 16px;
            z-index: 5;
        }
        &--description {
            color: #565656;
            text-transform: capitalize;
            position: relative;
            z-index: 5;
            p {
                margin-bottom: 0;
                color: inherit;
            }
            a {
                color: inherit;
                @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
                &:hover {
                    text-decoration: underline;
                    color: $secondary_color;
                }
            }
        }
    }
}

.pxl-icon-box3 {
    --width-box-icon: 52px;
    --width-icon: 24px;
    border-radius: 8px;
    border: 1px solid rgba($secondary_color_hex, 0.13);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 20px 16px;
    .pxl-item {
        &--inner {
            display: flex;
            align-items: center;
            gap: 20px;
            @media #{$max-xs} {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
        }
        &--icon {
            width: var(--width-box-icon);
            height: var(--width-box-icon);
            @include border-radius(5px);
            background-color: $primary_color;
            @extend .pxl-iflex-center;
            overflow: hidden;
            svg {
                width: var(--width-icon);
                height: var(--width-icon);
                path {
                    fill: #fff;
                }
            }
        }
        &--description {
            color: #565656;
            p {
                margin-bottom: 0;
                color: inherit;
            }
            a {
                color: inherit;
                @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
                &:hover {
                    text-decoration: underline;
                    color: $secondary_color;
                }
            }
        }
        &--link {
            &:hover {
                svg {
                    animation: pxl_right_from_left 0.4s cubic-bezier(0.645, 0.045, 0.355, 1)
                        forwards;
                }
            }
        }
    }
}

.pxl-icon-box4 {
    padding-left: 63px;
    position: relative;
    &:hover {
        &:after {
            top: 0;
            bottom: auto;
            height: 100%;
        }
    }
    &:before {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($secondary_color_hex, 0.13);
    }
    &:after {
        content: "";
        position: absolute;
        width: 1px;
        height: 0;
        top: auto;
        bottom: 0;
        left: 0;
        background-color: $secondary_color;
        @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
    }
    .pxl-item {
        &--icon {
            margin-bottom: 35px;
        }
        &--title {
            font-size: 22px;
            line-height: 1.13;
            font-weight: 500;
            color: $secondary_color;
        }
        &--description {
            color: #666;
            font-size: 16px;
        }
    }
}

.pxl-icon-box5 {
    display: flex;
    align-items: center;
    padding: 30px;
    @include border-radius(8px);
    border: 1px solid rgba($secondary_color_hex, 0.13);
    @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
    @media #{$max-xs} {
        flex-direction: column;
    }
    &:hover {
        .pxl-item {
            &--icon {
                i,
                svg {
                    animation: pxl_bounce 0.5s linear forwards;
                }
            }
        }
    }
    .pxl-item {
        &--header {
            flex: 0 0 42%;
            max-width: 42%;
            display: flex;
            flex-direction: column;
            gap: 12px;
            align-items: flex-start;
            border-right: 1px solid rgba($secondary_color_hex, 0.13);
            padding-right: 15px;
            @media #{$max-xs} {
                flex: 0 0 100%;
                max-width: 100%;
                border-right: none;
                padding-right: 0;
                padding-bottom: 15px;
                border-bottom: 1px solid rgba($secondary_color_hex, 0.13);
                text-align: center;
                align-items: center;
            }
        }
        &--icon {
            --width-box-icon: 65px;
            width: var(--width-box-icon);
            height: var(--width-box-icon);
            @include border-radius(var(--width-box-icon));
            background-color: $primary_color;
            @extend .pxl-iflex-center;
            overflow: hidden;
            svg {
                path {
                    fill: #fff;
                }
            }
            i {
                color: #fff;
            }
        }
        &--title {
            font-size: 20px;
            font-weight: 500;
            color: $secondary_color;
            margin-bottom: 0;
        }
        &--description {
            flex: 0 0 58%;
            max-width: 58%;
            padding-left: 35px;
            @media #{$max-xs} {
                flex: 0 0 100%;
                max-width: 100%;
                padding-left: 0;
                padding-top: 15px;
                text-align: center;
            }
        }
    }
}

.pxl-icon-box6 {
    padding: 30px 30px 45px 50px;
    border: 1px solid rgba(#2b2927, 0.13);
    @media #{$max-3xs} {
        padding: 30px 15px 45px 15px;
    }
    .pxl-item {
        &--icon {
            --width-box-icon: 72px;
            width: var(--width-box-icon);
            height: var(--width-box-icon);
            @include border-radius(var(--width-box-icon));
            background-color: transparent;
            border: 1px solid rgba(#2b2927, 0.13);
            @extend .pxl-iflex-center;
            overflow: hidden;
            color: $primary_color;
            float: right;
            svg {
                path {
                    fill: $primary_color;
                }
            }
            i {
                color: $primary_color;
            }
        }
        &--title {
            color: $secondary_color;
            font-size: 23px;
            line-height: 1.13;
            margin-bottom: 24px;
        }
        &--description {
            margin-bottom: 33px;
        }
        &--link {
            display: inline-flex;
            align-items: center;
            gap: 5px;
            color: $primary_color;
            @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
            &:hover {
                color: $secondary_color;
            }
            svg {
                color: $primary_color;
                @include transform(translateX(0px));
                @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
            }
            &:hover {
                svg {
                    @include transform(translateX(5px));
                }
            }
        }
    }
}

.pxl-icon-box7 {
    --gradient-box-icon-from: #1452fc;
    --gradient-box-icon-to: #7c9fff;
    --color-drop-shadow: #4476ff;
    display: flex;
    align-items: center;
    gap: 30px;
    border: 1px solid rgba(#fff, 0.13);
    padding: 38px 42px 38px 30px;
    @include border-radius(15px);
    @media #{$max-xs} {
        flex-direction: column;
        padding: 30px;
    }
    @media #{$max-xs} {
        text-align: center;
    }
    .pxl-item {
        &--icon {
            --width-box-icon: 66px;
            width: var(--width-box-icon);
            height: var(--width-box-icon);
            flex: 0 0 var(--width-box-icon);
            @include border-radius(var(--width-box-icon));
            @extend .pxl-iflex-center;
            background-color: rgba(#fff, 0.07);
            box-shadow: 0 -3px 6.8px 0 rgba(120, 155, 249, 0.72) inset;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                inset: 0;
                background: linear-gradient(
                    0deg,
                    var(--gradient-box-icon-from) 0%,
                    var(--gradient-box-icon-to) 100%
                );
                filter: drop-shadow(0 4px 28.9px var(--color-drop-shadow));
                @include border-radius(var(--width-box-icon));
                @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
                z-index: -1;
                opacity: 0;
            }
        }
        &--title {
            color: #fff;
            font-family: Satoshi;
            font-size: 20px;
            font-weight: 700;
            line-height: 1.4;
            text-transform: capitalize;
            margin-bottom: 17px;
        }
        &--description {
            color: rgba(#fff, 0.7);
        }
    }
    &.style-layout-7-1 {
        .pxl-item {
            &--icon {
                svg {
                    path {
                        fill: #fff;
                    }
                }
                i {
                    color: #fff;
                }
            }
        }
        &:hover {
            .pxl-item {
                &--icon {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &.style-layout-7-2 {
        --gradient-background-from: rgba(255, 255, 255, 0);
        --gradient-background-to: rgba(105, 145, 255, 0.3);
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        overflow: hidden;
        @media #{$max-xs} {
            align-items: center;
        }
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            background: linear-gradient(
                180deg,
                var(--gradient-background-from) 0%,
                var(--gradient-background-to) 100%
            );
            @include border-radius(15px);
            opacity: 0;
            @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
        }
        &:hover {
            .pxl-item {
                &--icon {
                    &:after {
                        opacity: 1;
                    }
                }
            }
            &:before {
                opacity: 1;
            }
        }
        .pxl-item {
            &--link {
                margin-top: 38px;
                color: #fff;
                display: inline-flex;
                align-items: center;
                gap: 5px;
                z-index: 5;
                position: relative;
                svg {
                    @include transform(translateX(0px));
                    @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
                    path {
                        fill: #fff;
                    }
                }
                &:hover {
                    svg {
                        @include transform(translateX(5px));
                    }
                }
            }
        }
    }
    &.style-layout-7-3 {
        &:hover {
            .pxl-item {
                &--icon {
                    svg,
                    i {
                        animation-name: wobble_vertical;
                        animation-duration: 1s;
                        animation-timing-function: ease-in-out;
                        animation-iteration-count: 1;
                    }
                }
            }
        }
    }
    &.style-layout-7-4 {
        position: relative;
        &:hover {
            &:after {
                width: 100%;
                left: 0;
                right: auto;
            }
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgba($third_color_hex, 0.13);
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: auto;
            right: 0;
            width: 0%;
            height: 1px;
            background-color: $third_color;
            @include transition(width 0.3s linear 0ms);
        }
        .pxl-item--icon {
            @include transition(all 0.3s linear 0ms);
        }
    }
}

.pxl-icon-box8 {
    position: relative;
    border: 1px solid rgba($secondary_color_hex, 0.13);
    border-top-width: 4px;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    @include transition(all 0.3s linear 0ms);
    &:hover {
        .pxl-item {
            &--bottom {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }
    .pxl-item {
        &--sub-title {
            span {
                padding: 0 20px;
                background-color: $secondary_color_hex;
                color: #fff;
                height: 30px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 13px;
                font-weight: 500;
                @extend .pxl-iflex-center;
                margin-bottom: 35px;
            }
        }
        &--icon {
            --width-box-icon: 100px;
            width: var(--width-box-icon);
            height: var(--width-box-icon);
            @include border-radius(var(--width-box-icon));
            background-color: $primary_color;
            @extend .pxl-iflex-center;
            @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 35px;
            i {
                color: $secondary_color_hex;
            }
            svg {
                path {
                    fill: $secondary_color_hex;
                }
            }
        }
        &--bottom {
            position: absolute;
            border-top: 4px solid $secondary_color_hex;
            border-left: 1px solid rgba($secondary_color_hex, 0.13);
            border-right: 1px solid rgba($secondary_color_hex, 0.13);
            border-bottom: 0;
            width: calc(100% + 4px);
            top: 50%;
            left: 50%;
            opacity: 0;
            transform: translate(-50%, -50%) scale(0.5);
            @include transition(all 0.3s linear 0ms);
            &-content {
                padding: 35px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 60px;
                background-color: #fff;
            }
        }
        &--link {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            background-color: $secondary_color_hex;
            height: 55px;
            color: #fff;
            span {
                line-height: 1em;
            }
            svg {
                @include transform(translateX(0px));
                @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
                path {
                    fill: $primary_color;
                }
            }
            &:hover {
                svg {
                    @include transform(translateX(5px));
                }
            }
        }
    }
}

.pxl-icon-box9 {
    display: flex;
    flex-direction: column;
    @include transform(translateY(0px));
    @include transition(all 0.3s linear 0ms);
    &:hover {
        @include transform(translateY(-30px));
        .pxl-item {
            &--content {
                img {
                    filter: saturate(1);
                }
            }
        }
    }
    .pxl-item {
        &--content {
            position: relative;
            overflow: hidden;
            height: 553px;
            @include border-radius(5px);
            @include transition(all 0.3s linear 0ms);
            &:after {
                content: "";
                width: 100%;
                height: 75%;
                background: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(255, 255, 255, 0.84) 37.54%,
                    #fff 72.24%,
                    #fff 100%
                );
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 2;
            }
        }
        &--image {
            position: absolute;
            inset: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: saturate(0);
                @include transition(all 0.3s linear 0ms);
            }
        }
        &--info {
            position: absolute;
            z-index: 3;
            bottom: 20px;
            left: 35px;
            right: 35px;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            @media #{$max-xs} {
                left: 15px;
                right: 15px;
            }
        }
        &--icon {
            --width-box-icon: 84px;
            width: var(--width-box-icon);
            height: var(--width-box-icon);
            @extend .pxl-iflex-center;
            @include border-radius(var(--width-box-icon));
            @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
            overflow: hidden;
        }
        &--link {
            margin-top: 15px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.pxl-icon-box10 {
    position: relative;
    border: 1px solid rgba($secondary_color_hex, 0.13);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
    overflow: hidden;
    min-height: 295px;
    @include transition(all 0.3s linear 0ms);
    &:hover {
        .pxl-item {
            &--bottom {
                opacity: 1;
                @include transform(translate(-50%, -50%) scale(1));
            }
        }
    }
    .pxl-item {
        &--icon {
            margin-bottom: 32px;
            max-height: 90px;
        }
        &--bottom {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.5);
            opacity: 0;
            background-color: $secondary_color_hex;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 45px 30px;
            @include transition(all 0.3s linear 0ms);
        }
    }
}

.pxl-icon-box11 {
    padding: 40px 20px 20px;
    border-radius: 10px;
    border: 1px solid rgba(17, 17, 17, 0.13);
    transition: all 0.3s linear 0ms;
    &:hover {
        border-color: $third_color;
        .pxl-item--icon {
            background-color: $third_color;
            border-color: $third_color;
            svg {
                path {
                    fill: $primary_color;   
                }
            }
            i {
                color: $primary_color;
            }
        }
    }
    .pxl-item {
        &--icon {
            --width-box-icon: 100px;
            width: var(--width-box-icon);
            height: var(--width-box-icon);
            @include border-radius(var(--width-box-icon));
            background-color: $primary_color;
            @extend .pxl-iflex-center;
            border: 1px solid rgba($third_color_hex, 0.13);
            @include transition(all 0.3s linear 0ms);
            svg {
                path {
                    fill: $secondary_color_hex;
                }
            }
            i {
                color: $secondary_color_hex;
            }
        }
        &--description {
            margin-top: 40px;
            padding: 30px 25px;
            background-color: $primary_color;
            color: $third_color;
            @include border-radius(10px);
        }
    }
}

.pxl-icon-box12 {
    border: 1px solid rgba($secondary_color_hex, 0.13);
    padding: 40px 30px 30px 30px;
    @include border-radius(10px);

    .pxl-item {
        &--heading {
            display: flex;
            align-items: center;
            gap: 25px;
            margin-bottom: 35px;
        }
        &--icon {
            width: 65px;
            height: 65px;
            flex: 0 0 65px;
            @extend .pxl-iflex-center;
            @include border-radius(65px);
            background-color: $secondary_color_hex;
            svg {
                path {
                    fill: $primary_color;
                }
            }
        }
    }
}

/*--------------------------------------------------
Case Icon Box Carousel
--------------------------------------------------*/
.pxl-icon-box-carousel1 {
    .pxl-item {
        &--inner {
            --width-box-icon: 53px;
            --width-icon: 26px;
            background-color: $primary_color;
            @include border-radius(8px);
            padding: 84px 45px 33px 30px;
            position: relative;
            @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
            &:hover {
                .pxl-item {
                    &--icon {
                        background-color: #fff;
                        svg {
                            path {
                                fill: $primary_color;
                            }
                        }
                        i {
                            color: $primary_color;
                        }
                        svg,
                        i {
                            animation: pxl_right_from_left 0.4s cubic-bezier(0.645, 0.045, 0.355, 1)
                                forwards;
                        }
                    }
                }
            }
        }
        &--icon {
            position: absolute;
            top: 10px;
            right: 10px;
            width: var(--width-box-icon);
            height: var(--width-box-icon);
            @extend .pxl-iflex-center;
            @include border-radius(8px);
            background-color: rgba(#fff, 0.15);
            @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
            overflow: hidden;
            svg {
                width: var(--width-icon);
                height: var(--width-icon);
                path {
                    fill: #fff;
                    @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
                }
            }
            i {
                color: #fff;
                @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
            }
        }
        &--title {
            color: #fff;
            font-size: 21px;
            font-weight: 500;
            line-height: 1.42;
            margin-bottom: 16px;
        }
        &--description {
            color: rgba(#fff, 0.8);
        }
    }
}

.pxl-icon-box-carousel2 {
    .pxl-swiper-slide {
        position: relative;
        + .pxl-swiper-slide {
            &:before {
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba($secondary_color_hex, 0.13);
            }
        }
    }
    .pxl-item {
        &--inner {
            padding-top: 76px;
            text-align: center;
        }
        &--icon {
            height: 75px;
            width: 75px;
            @extend .pxl-iflex-center;
            margin-bottom: 20px;
        }
        &--title {
            margin-bottom: 23px;
        }
        &--description {
            max-width: 340px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.pxl-icon-box-carousel3 {
    .pxl-item {
        &--inner {
            position: relative;
            padding-left: 35px;
            &:before {
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(#fff, 0.15);
            }
            &:after {
                content: "";
                position: absolute;
                width: 1px;
                height: 0%;
                left: 0;
                top: auto;
                bottom: 0;
                background-color: $primary_color;
                @include transition(all 0.3s linear 0ms);
            }
            &:hover {
                &:after {
                    height: 100%;
                    bottom: auto;
                    top: 0;
                }
            }
        }
        &--title {
            flex: 1;
            &-wrapper {
                display: flex;
                align-items: center;
                gap: 30px;
            }
        }
    }
}

/*--------------------------------------------------
Case Contact Styles
--------------------------------------------------*/

.pxl-contact {
    .pxl-item--description {
        a {
            color: inherit;
            &:hover {
                text-decoration: underline;
            }
        }
        p {
            margin-bottom: 0;
        }
    }
    &.style-1 {
        display: flex;
        flex-direction: column;
        .pxl-item {
            &--icon {
                --size-box-icon: 56px;
                width: var(--size-box-icon);
                height: var(--size-box-icon);
                flex: 0 0 var(--size-box-icon);
                @include border-radius(var(--size-box-icon));
                background-color: rgba(255, 255, 255, 0.07);
                box-shadow: 0 -3px 6.8px 0 rgba(120, 155, 249, 0.72) inset;
                @extend .pxl-iflex-center;
                margin-bottom: 14px;
                svg {
                    path {
                        fill: #fff;
                    }
                }
                i {
                    color: #fff;
                }
            }
            &--title {
                color: #fff;
                font-family: "Satoshi";
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 14px;
                line-height: 1;
            }
            &--description {
                color: rgba(#fff, 0.7);
                font-size: 16px;
                font-weight: 400;
                line-height: 1.6;
            }
        }
    }
    &.style-2 {
        @extend .pxl-iflex-center;
        background-color: $primary_color;
        .pxl-item {
            &--icon {
                @extend .pxl-iflex-center;
            }
        }
    }
    &.style-3 {
        --size-box-icon: 60px;
        display: flex;
        .pxl-item {
            &--header {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 30px;
            }
            &--icon {
                width: var(--size-box-icon);
                height: var(--size-box-icon);
                flex: 0 0 var(--size-box-icon);
                @include border-radius(var(--size-box-icon));
                @extend .pxl-iflex-center;
            }
            &--link {
                width: var(--size-box-icon);
                height: var(--size-box-icon);
                flex: 0 0 auto;
                @extend .pxl-iflex-center;
                a {
                    @extend .pxl-iflex-center;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    &.style-4 {
        display: inline-flex;
        height: 46px;
        @include border-radius(46px);
        .pxl-item {
            &--header, &--icon {
                @extend .pxl-iflex-center;
            }
        }
    }
}

body.rtl {
}
