@import "../shared";
/*--------------------------------------------------
Case Iconbox Styles
--------------------------------------------------*/

.pxl-icon-box1 {
    --size-box-icon: 73px;
    --size-icon: 32px;
    @include border-radius(15px);
    padding: 35px 35px 44px 35px;
    position: relative;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.13);
    @include transition(all 0.3s linear 0ms);
    &:hover {
        box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.13);
        .pxl-item {
            &--icon {
                background-color: #111;
                box-shadow: -2px 4px 7.3px 0 rgba(255, 255, 255, 0.61) inset;
                svg {
                    path {
                        fill: #fff;
                    }
                }
                i {
                    color: #fff;
                }
            }
        }
    }
    .pxl-item {
        &--icon {
            width: var(--size-box-icon);
            height: var(--size-box-icon);
            @extend .pxl-iflex-center;
            @include border-radius(var(--size-box-icon));
            background-color: #fff;
            box-shadow: 0 4px 12.3px 0 rgba(0, 0, 0, 0.13);
            @include transition(all 0.3s linear 0ms);
            overflow: hidden;
            svg {
                width: var(--size-icon);
                height: var(--size-icon);
                path {
                    fill: #000;
                    @include transition(all 0.3s linear 0ms);
                }
            }
            i {
                color: #000;
                @include transition(all 0.3s linear 0ms);
            }
        }
        &--title {
            color: #111;
            font-size: 21px;
            font-weight: 500;
            line-height: 1.42;
            margin-bottom: 16px;
        }
        &--description {
            color: #565656;
        }
    }
}

/*--------------------------------------------------
Case Icon Box Carousel
--------------------------------------------------*/
.pxl-icon-box-carousel1 {
    .pxl-item {
        &--inner {
            --width-box-icon: 53px;
            --width-icon: 26px;
            background-color: $primary_color;
            @include border-radius(8px);
            padding: 84px 45px 33px 30px;
            position: relative;
            @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
            &:hover {
                .pxl-item {
                    &--icon {
                        background-color: #fff;
                        svg {
                            path {
                                fill: $primary_color;
                            }
                        }
                        i {
                            color: $primary_color;
                        }
                        svg,
                        i {
                            animation: pxl_right_from_left 0.4s cubic-bezier(0.645, 0.045, 0.355, 1)
                                forwards;
                        }
                    }
                }
            }
        }
        &--icon {
            position: absolute;
            top: 10px;
            right: 10px;
            width: var(--width-box-icon);
            height: var(--width-box-icon);
            @extend .pxl-iflex-center;
            @include border-radius(8px);
            background-color: rgba(#fff, 0.15);
            @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
            overflow: hidden;
            svg {
                width: var(--width-icon);
                height: var(--width-icon);
                path {
                    fill: #fff;
                    @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
                }
            }
            i {
                color: #fff;
                @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
            }
        }
        &--title {
            color: #fff;
            font-size: 21px;
            font-weight: 500;
            line-height: 1.42;
            margin-bottom: 16px;
        }
        &--description {
            color: rgba(#fff, 0.8);
        }
    }
}

/*--------------------------------------------------
Case Contact Styles
--------------------------------------------------*/

.pxl-contact {
    .pxl-item--description {
        a {
            color: inherit;
            &:hover {
                text-decoration: underline;
            }
        }
        p {
            margin-bottom: 0;
        }
    }
    &.style-1 {
        display: flex;
        flex-direction: column;
        .pxl-item {
            &--icon {
                --size-box-icon: 56px;
                width: var(--size-box-icon);
                height: var(--size-box-icon);
                flex: 0 0 var(--size-box-icon);
                @include border-radius(var(--size-box-icon));
                background-color: rgba(255, 255, 255, 0.07);
                box-shadow: 0 -3px 6.8px 0 rgba(120, 155, 249, 0.72) inset;
                @extend .pxl-iflex-center;
                margin-bottom: 14px;
                svg {
                    path {
                        fill: #fff;
                    }
                }
                i {
                    color: #fff;
                }
            }
            &--title {
                color: #fff;
                font-family: "Satoshi";
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 14px;
                line-height: 1;
            }
            &--description {
                color: rgba(#fff, 0.7);
                font-size: 16px;
                font-weight: 400;
                line-height: 1.6;
            }
        }
    }
    &.style-2 {
        @extend .pxl-iflex-center;
        background-color: $primary_color;
        .pxl-item {
            &--icon {
                @extend .pxl-iflex-center;
            }
        }
    }
    &.style-3 {
        --size-box-icon: 60px;
        display: flex;
        .pxl-item {
            &--header {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 30px;
            }
            &--icon {
                width: var(--size-box-icon);
                height: var(--size-box-icon);
                flex: 0 0 var(--size-box-icon);
                @include border-radius(var(--size-box-icon));
                @extend .pxl-iflex-center;
            }
            &--link {
                width: var(--size-box-icon);
                height: var(--size-box-icon);
                flex: 0 0 auto;
                @extend .pxl-iflex-center;
                a {
                    @extend .pxl-iflex-center;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    &.style-4 {
        display: inline-flex;
        height: 46px;
        @include border-radius(46px);
        .pxl-item {
            &--header,
            &--icon {
                @extend .pxl-iflex-center;
            }
        }
    }
}

body.rtl {
}
