@import "../shared";
/*--------------------------------------------------
9. Case List Styles — Figma 3672:562
--------------------------------------------------*/
.pxl-list1 {
    --width-box-icon: 27px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    .pxl-item {
        display: inline-flex;
        align-items: center;
        gap: 12px;
        box-sizing: border-box;
        height: 39px;
        padding: 0 16px 0 6px;
        background-color: #fff;
        border: 1px solid #e4e4e4;
        @include border-radius(29px);
        @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));

        &--icon {
            @extend .pxl-iflex-center;
            flex-shrink: 0;
            width: var(--width-box-icon);
            height: var(--width-box-icon);
            @include border-radius(50%);
            background-color: #e4e4e4;
            color: #000;
            font-size: 12px;
            svg {
                width: 12px;
                height: 12px;
                path {
                    fill: currentColor;
                }
            }
        }

        &--content {
            display: flex;
            align-items: center;
            gap: 4px;
            color: #000;
            font-size: 15px;
            font-weight: 500;
            line-height: 25px;
            text-align: left;
            p {
                margin-bottom: 0;
            }
            &-text {
                margin-bottom: 0;
            }
        }

        &--label {
            margin-bottom: 0;
        }
    }
}
