@import "../shared";
/*--------------------------------------------------
12. Case Showcase Styles
--------------------------------------------------*/
.pxl-showcase1 {
    &.pxl-wg-active {
        .pxl-item--inner .pxl-item--title {
            justify-content: center;
        }
    }

    img {
        width: 100%;
    }

    .wrap-button {
        display: flex;
        align-items: center;
        gap: 30px;

        .btn {
            overflow: hidden;
            background-color: transparent;
            color: $third_color;
            padding: 0;
            line-height: 1;
            font-size: 16px;
            @include ft_theme_default($ft_theme_default);
            text-transform: uppercase;
            @include transition(all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1));
            font-weight: 500;

            &:hover {
                color: $secondary_color;
                background-color: transparent;

                &::before {
                    width: 100%;
                }
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background-color: $secondary_color;
                @include transition(
                    all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1)
                );
            }
        }
    }

    .pxl-item--inner {
        position: relative;
        border-radius: 6px;
        padding: 16px 16px 0;
        overflow: hidden;
        border: 1px solid $secondary_color;

        @media (max-width: 767px) {
            padding: 10px 10px 0;
        }

        .pxl-item--label {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 159px;
            text-align: center;
            background-color: $primary_color;
            line-height: 49px;
            padding: 0 30px;
            color: #fff;
            font-size: 14px;
            @include ft_theme_default($ft_theme_default);
            text-transform: uppercase;
            font-weight: 600;
        }

        .pxl-item--image {
            position: relative;
            top: 2px;
            left: 2px;
            right: 2px;
            bottom: 2px;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            z-index: 1;
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);

            img {
                width: 100%;
                border-radius: 6px;
            }

            .pxl-item--overlay {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                -webkit-backdrop-filter: blur(5px);
                border-radius: inherit;
                pointer-events: none;
                backdrop-filter: blur(5px);
                opacity: 0;
                @include transition(
                    all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1)
                );
            }
        }

        .pxl-item--title {
            margin-bottom: 0;
            display: flex;
            z-index: 2;
            align-items: center;
            position: relative;

            @media (max-width: 1200px) {
                flex-wrap: wrap;
                gap: 10px;
            }

            @media (max-width: 1024px) {
                margin-bottom: 8px;
                gap: 5px;
            }

            a {
                font-size: 20px;
                color: $secondary_color;
                line-height: 1.4;
                font-weight: 400;
                letter-spacing: -0.4px;
                text-transform: uppercase;
                @extend .ft-mr;
                position: relative;

                @media (max-width: 1200px) {
                    font-size: 16px;
                }

                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }
        }

        .pxl-item--container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;
            padding: 30px 15px;

            @media (max-width: 767px) {
                padding: 20px 0;
                gap: 5px;
            }
        }

        .showcase-status {
            span {
                @extend .pxl-flex-center;
                width: 50px;
                height: 22px;
                border-radius: 7px;
                color: #fff;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 700;

                &.new {
                    background-color: #50d142;
                }

                &.hot {
                    background-color: #a42eff;
                    margin-right: 7px;
                }
            }
        }

        &:hover {
            .pxl-item--image {
                .pxl-item--overlay {
                    opacity: 1;
                }
            }

            .pxl-item--readmore {
                a {
                    transform: scale(1);
                }
            }
        }
    }
}

.elementor-lightbox .swiper .elementor-swiper-button {
    position: absolute;
    opacity: 1;
    top: 0;
    z-index: 1;
    cursor: pointer;
}
